<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><TMPL_IF HAS_PARENTLINKS><TMPL_VAR TITLE> - WMT OS<TMPL_ELSE>WMT OS - Linux for WM8505 netbooks</TMPL_IF></title>
<link rel="icon" href="<TMPL_VAR BASEURL>favicon.ico" type="image/x-icon">
<link rel="canonical" href="https://wmt-os.org/<TMPL_IF HAS_PARENTLINKS><TMPL_VAR PAGE>.html</TMPL_IF>">
<TMPL_VAR FEEDLINKS>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css">
</head>
<body>
<div class="page">
<table class="masthead">
<tr>
<td><a href="<TMPL_VAR BASEURL>index.html"><img src="<TMPL_VAR BASEURL>images/logo.png" width="96" height="96" alt="WMT OS"></a></td>
<td class="text"><a class="wordmark" href="<TMPL_VAR BASEURL>index.html">WMT OS</a><br>
Linux for WM8505 netbooks</td>
</tr>
</table>
<p class="nav"><a href="<TMPL_VAR BASEURL>hardware.html">Hardware</a> |
<a href="<TMPL_VAR BASEURL>download.html">Download</a> |
<a href="<TMPL_VAR BASEURL>install.html">Install</a> |
<a href="<TMPL_VAR BASEURL>handbook.html">Handbook</a> |
<a href="<TMPL_VAR BASEURL>changelog.html">Changelog</a> |
<a href="<TMPL_VAR BASEURL>community.html">Community</a> |
<a href="<TMPL_VAR BASEURL>about.html">About</a></p>
<hr>
<TMPL_IF HAS_PARENTLINKS><h1><TMPL_VAR TITLE></h1></TMPL_IF>
<TMPL_VAR CONTENT>
<hr>
<p class="footer">Copyright &copy; 2026 WMT OS</p>
</div>
</body>
</html>
